.operation{
    float: right;
    font-size: 9px;
    margin-top: 9px;
}
.notification{
    padding: 1px 4px;
    background-color: tomato;
    margin: -58px -24px -54px -28px;
}
.notification-time{
    float: right;
    color: lightslategrey;
    font-size: 10px;
    margin-top: -7px
}
.hr{
    min-height: 1px;
    padding: 0 15px 0 15px;
}
.tag-hot{
    display: inline-block;
    word-wrap: break-word;
    margin: 0 8px 8px 0;
    background-color: #93bece;
    height: 20px;
}
.content-hot{
    float: right;
    background-color: transparent;
    color: #ff9e85;
    display: inline-block;
    word-wrap: break-word;
    margin: 0 8px 8px 0;
    height: 20px;
}
.true{
    color:#ff9e85
}
.article{
    margin: 10px;
    background-color: #fdfdf
}
.content-set{
    float: right;
    margin: 10px 0 0 10px;
}
.my-name{
    color: #fdfdfd;
}
.input-my{
    width:40%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    /* display: block; */
    /* width: 100%; */
    height: 34px;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.search{
    margin: 10px 0px 10px 5px;;
}
.sign-up{
    background-color: #ff9e85;
    color: #fdfdfd;
}
.sign-up-input{
    width: 60%;
    display: initial;
    margin-bottom: 10px
}
.nav-bottom{
    background-blend-mode: color-dodge;
    width: 24%;
    background: #ff9e85;
    color: #fdfdfd;
    border-color: blanchedalmond;
}
.nav-checked{
    background-color:coral;
}
.msg-danger{
    padding: 3px 3px;
    margin-bottom: 0px;
}
.fix-bottom{
    margin: auto;
    padding:0;
    list-style: none;
    font-size:14px;
    width:100%;
    position:fixed;
    z-index:999;
    bottom:0px;
    left:0;
    right:0;
    text-align: center;
}
.control-group{
    margin: 3px;
    padding: 0 3px 0 3px;
}
html,body{
    height: 100%;
}
#container{
    /*保证footer是相对于container位置绝对定位*/
    position:relative;
    width:100%;
    min-height:100%;
    /*设置padding-bottom值大于等于footer的height值，以保证main的内容能够全部显示出来而不被footer遮盖；*/
    padding-bottom: 100px;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 200px;
    background: #999;
}
.main{
    width: 90%;
}
.footer{
    width: 100%;
      /* footer的高度一定要是固定值*/
    position:absolute;
    bottom:0px;
    left:0px;
    background: #333;
}
.btn-relation{
    background: #ff9e85;
    color: #fdfdfd;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.btn-publish-index{
    float: right;
    margin-top: 6px;
    background-color: #fdfdfd;
    color: #ff9e85;
}
.btn-comment {
    float: right;
    margin-bottom: 10px;
}
.btn-follow{
    float: right;
    margin-bottom: 10px;
    margin-top: 16px;
}
.btn-hot-follow{
    float: right;
    background: #fcf2d8;
    color: #828282;
}

.btn-chose{
    float: right;
    background-color: transparent;
    padding:0;
    font-size: 15px;
}
.media-object {
    width: 40px;
    height: 40px;
}
.description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: -18px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    float: right;
}

.profile-section {
    margin-top: 15px;
}

.content-title {
    margin-top: 25px;
}
.content-title-small{
    padding-left: 12px;
}
.content-tag {
    display: inline-block;
    word-wrap: break-word;
    margin-right: 5px;
    background-color: #93bece
}

.tag-tab {
    display: none;
    margin-top: 10px;
}

.tag-info {
    margin: 10px 10px;
    white-space: normal;
    display: inline-block;
}

.tag-text {
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.content-tag-text {
    font-size: 12px;
}

.content-related {
    line-height: 20px;
    font-size: 14px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.test-menu {
    float: right;
    margin: 10px 0 0 10px;
    color: #999;
    font-size: 13px;
}

.jumbotron {
    margin: 50px;
    background: transparent
}

.comment {
    margin: 10px 0;
}

.comment-sp {
    margin-top: 0;
}

.comments {
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu-icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu-icon:hover {
    color: #337ab7;
}

.comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.comment-icon:hover {
    color: #337ab7;
}

.menu-active {
    color: #337ab7;
}

.qq {
    width: 50%;
}
