<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人信息</title>
    <!--    profile/questions需要找源自根目录的样式，需要在前面加/-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}"/>
    <link rel="stylesheet" th:href="@{/css/test.css}">
    <link rel="stylesheet" th:href="@{/css/editormd.preview.min.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/moment.js}" type="application/javascript"></script>
    <script th:src="@{/js/test.js}" type="application/javascript"></script>
    <script th:src="@{/js/editormd.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/lib/marked.min.js}"></script>
    <script th:src="@{/js/lib/prettify.min.js}"></script>
</head>
<body>
<!--引入导航栏：-->
<div th:insert="navigation::nav"></div>
<div class="container-fluid" id="XS">
        <div class="row-fluid">
            <div class="span6">
                <img alt="140x140" th:if="${user.avatar!=null}" th:src="@{${user.avatar}}" style="width:30%"/>
            </div>
            <div class="span6">
                <h1>
                    <span th:text="${user.name}"></span>
                </h1>
            </div>
        </div>
    <form th:action="@{/info}" method="post" style="text-align: -webkit-center;">
        <div class="form-group">
            <div class="form-group">
                <textarea class="form-control" th:text="${user.bio}" rows="3" name="bio" style="width:80%"></textarea>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <button class="btn btn-small btn-info btn-publish" type="submit">修改简介</button>
            </div>
        </div>
    </form>
    <div style="margin: 63px 60px;">
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            关注数：<span class="badge" th:text="${user.followCount}"></span></button>
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            粉丝数：<span class="badge" th:text="${user.fansCount}"></span></button>
    </div>
<!--    查询文件-->
   <!-- <form action="chaxun" >
        <p><input type="submit" value="查询视频"/></p>
    </form>-->
    <!--显示文件列表-->
    <!--<div><ul><li th:each="Shipin:${Shipins}"><p>ID:<span th:text="${Shipin.id}"></span></p>
                <p>视频url======<span th:text="${Shipin.url}"></span></p></li></ul></div>-->
</div>
</body>
<!--底栏-->
<div th:insert="~{footer::foot}"></div>
</html>