<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--依靠以下名称映射，记得修改：-->
<mapper namespace="com.shu.find.mapper.UserExtMapper">
    <resultMap id="BaseResultMap" type="com.shu.find.model.User">
        <constructor>
            <idArg column="account" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="token" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="avatar" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="bio" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="gmt_create" javaType="java.lang.Long" jdbcType="BIGINT" />
            <arg column="gmt_modify" javaType="java.lang.Long" jdbcType="BIGINT" />
        </constructor>
    </resultMap>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>